
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Tests1

on:
  pull_request_target:
    branches:
      - main
      - features/*
      - release/*

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Hello
        run: echo 1
